* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  /* Color Pallete */
  --color-blush-lightest: #fbefef; /* rgb(251, 239, 239) */
  --color-blush-light: #ffe2e2; /* rgb(255, 226, 226) */
  --color-blush-mid: #f5cbcb; /* rgb(245, 203, 203) */
  --color-lavender: #983edd; /* rgb(152, 62, 221) */
}
body {
  min-height: 100vh;
  background: linear-gradient(180deg, var(--color-blush-light) 70%, white 100%);
  /* background-attachment: fixed; */
}
h1,
h2,
h3 {
  color: var(--color-lavender);
}
